<div class="post_comments">
  <h3>
    <%= comments_title(post.comments) %> 
    <span class="comment_link">(Show)</span> 
    <%= link_to("Add Comment", "/blog/new/comment/#{post.slug}", {:style => "font-size:10pt;"}) %>
  </h3>
  <div class="comments_container" style="display:none">
    <% unless post.comments.empty? %>
      <% for comment in post.comments %>
        <div class="comment">
          <p class="comment_summary <%= comment_class_for_author(comment) %>">
            Posted at <%= datetime(comment.created_at) %>
            by <%= comment.has_website? ? link_to(h(comment.username), h(comment.website), {:target => "_blank"}) : 
              h(comment.username) %>
          </p>
          <%= comment.comment %>
        </div>
      <% end %>
    <% else %>
      <p class="comment">No comments have been posted.</p>
    <% end %>
  </div>
</div>

