<div class="content">
	<h1>Edit Post</h1>
	<% if @errors %>
		<div class="error">
			<h2>Errors</h2>
			<%= @errors %>
		</div>
	<% end %>
	<%= start_form("/update/post/#{@post.id}") %>
		<%= hidden_field_tag("_method", :value => "PUT") %>
		<p>
			Title:<br />
			<%= text_field_tag("title", :value => @post.title, :class => "select") %>		
		</p>
		<p>
			Content:<br />
			<%= text_area_tag("body", :value => @post.body, :rows => 10, :cols => 80) %>
		</p>
		<p>
			Tags:<br />
			<%= text_field_tag("tags", :value => @post.tags) %>
		</p>
		<p>
			<%= submit_button("Update") %>
		</p>
	<% end_form %>
</div>
