<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%= "Matt Payne Software Consulting - Waterloo, Ontario - (Ruby, .NET, Java and More) #{@title}" %></title>
  <META name="description" content="Custom Canadian software development for business">
  <META name="keywords" content="ruby, rails, sinatra, software, canada, waterloo, .net, c#, java, j2ee, jsp, struts, matt, payne, web development, ontario,
        asp.net, mvc, framework">
  <meta NAME="ROBOTS" Content="index, follow">
  <META content="General" name="rating">
  <meta NAME="RATING" Content="All">
  <meta NAME="DISTRIBUTION" Content="Global">
  <link REL="STYLESHEET" TYPE="text/css" HREF="/assets/blog.css">
  <link REL="STYLESHEET" TYPE="text/css" HREF="/assets/site.css">
  <link rel="icon" type="image/ico" href="/assets/favicon.ico" />
  <% if @rte_required %>
    <%= render_rte %>
  <% end %>
  <% if @render_gmh %>
    <%= render_gmh %>
  <% end %>
  <script src="/assets/prototype-1.6.0.3.js" type="text/javascript" language="javascript"></script>
  <script type="text/javascript" language="javascript" src="/assets/site.js"></script>
  <% if @blog_page %>
	<script type="text/javascript" language="javascript" src="/assets/scriptaculous.js"></script>
	<script type="text/javascript" language="javascript" src="/assets/effect.js"></script>
	<script type="text/javascript" language="javascript" src="/assets/dragdrop.js"></script>
	<script type="text/javascript" language="javascript" src="/assets/blog.js"></script>
  <% end %>
</head>
<body onload="setCursor()"
      <% unless @render_gmh.blank? %>
        onunload="unloadMap();"
      <% end %>>
      <div id="header">
		<div style="float:left;">
  			<%= image_link_to("logo.png", "/") %>
		</div>
		<div style="float:left;">
			<ul class="menu">
			    <li id="home"><%= link_to("Home", "/", :bold => true) %></li>
			    <li id="services"><%= link_to("Services", "/services", :bold => true) %></li>
			    <li id="projects"><%= link_to("Projects", "/projects", :bold => true) %></li>
			    <li id="about"><%= link_to("About", "/about", :bold => true) %></li>
			    <li id="contact"><%= link_to("Contact", "/contact", :bold => true) %></li>
			    <li id="blog"><%= link_to("Blog", "/blog", :bold => true) %></li>
			    <% if logged_in? %>
			      <li id="comments"><%= link_to("Comments", "/blog/comments", :bold => true)%></li>
			      <li id="stats"><%= link_to("Stats", "/blog/comments/stats", :bold => true)%></li>
			      <li id="logout"><%= link_to("Logout", "/logout", :bold => true) %></li>
			    <% end %>
			</ul>
		</div>
  </div>
  <div id="body" class="clear">
    <%= yield %>
  </div>
  <div class="not-available">
  	Please note that I am currently unavailable for any large, long term work.
  </div>
  <div id="footer">
    <div>
      Subscribe to the MPC blog rss feed 
      <%= link_to_rss_feed %>
    </div>
    Site developed by <%= link_to("MPC", "/") %> using <%= link_to("Sinatra", "http://sinatra.rubyforge.org") %> (an alternative Ruby web framework). (2008)
  </div>
	<div>Scan it!
		<%= image_link_to("qr.png", "/") %>
	</div>
  <% if @requires_highlighting %>
    <%= render_syntax %>
  <% end %>
  <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
      var pageTracker = _gat._getTracker("UA-5245338-1");
      pageTracker._trackPageview();
  </script>
  <script type="text/javascript">
      setSelectedTab("<%= @action %>");
  </script>
</body>
</html>

