<div class="content">
	<% if @errors %>
		<div class="error"><%= @errors %></div>
	<% end %>
	<%= start_form("/attempt/login") %>
		<p>
			Username:<br />
			<%= text_field_tag("username", :class => "select") %>
		</p>
		<p>
			Password:<br />
			<%= password_field_tag("password") %>
		</p>
		<p>
			<%= submit_button("Login") %>
		</p>
	<%= end_form %>
</div>
