<div class="content">
	<h1>New Comment For '<%= @post.title %>'</h1>
	<% if @errors %>
		<div class="error">
			<h2>Errors</h2>	
			<%= @errors %>
		</div>
	<% end %>
	<%= start_form("/create/comment/#{@post.slug}") %>
		<%= hidden_field_tag("post_id", :value => @post.id) %>
		<p>Your name:<br />
			<%= text_field_tag("username", :value => @comment.username, :class => "select") %>
		</p>
		<p>Your comment:<br />
			<%= text_area_tag("comment", :value => @comment.comment, :rows => 25, :cols => 60) %>
		</p>
		<p class="captcha">
			<%= render_captcha %>
			<br />Can't read the code? Click <%= link_to("here", "/new/comment/reload/captcha/#{@post.id}") %> to get a new one.
			<br />Please enter the code shown above
			<br />
			<%= text_field_tag("captcha") %>
		</p>
		<%= submit_button("Save") %>
	<%= end_form %>
</div>
