<h1>New Comment For '<%= @post.title %>'</h1>
<% if @errors %>
  <div class="error">
    <h3>There were several problems with your comment:</h3>
    <%= @errors %>
  </div>
<% end %>
<p class="notice">
  I promise that your email address will not be used or sold in any way
</p>
<%= start_form("/blog/create/comment/#{@post.slug}") %>
<%= hidden_field_tag("post_id", :value => @post.id) %>
<p class="comment_field comment_field_with_margin float_left">
  <span>Your name:</span><br />
  <%= text_field_tag("username", :value => @comment.username, :class => "select", :size => "20") %>
</p>
<p class="comment_field comment_field_with_margin float_left">
  <span>Your website (optional):</span><br />
  <%= text_field_tag("website", :value => @comment.website, :size => "30") %>
</p>
<p class="comment_field">
  <span>Your email (optional):</span><br />
  <%= text_field_tag("email", :value => @comment.email, :size => "30") %>
</p>
<div style="padding:0;margin:0;clear:left;"></div>
<p class="comment_field">
  <span>Your comment:</span><br />
  <%= text_area_tag("comment", :value => @comment.comment, :rows => 15, :cols => 100) %>
</p>
<%= render_defensio %>
<%= submit_button("Save") %>
<% if logged_in? %>
  <%= submit_button("Spam", {:name => "spam"}) %>
  <%= submit_button("Ham", {:name => "ham"}) %>
<% end %>
<%= end_form %>
