<div class="content">
	<h2>New Post</h2>
	<% if @errors %>
		<div class="error"><%= @errors %></div>
	<% end %>
	<%= start_form("/create/post") %>
		<p>
			Title:<br />
			<%= text_field_tag("title", :value => @post.title) %>
		</p>
		<p>
			Body:<br />
			<%= text_area_tag("body", :value => @post.body, :rows => 10, :cols => 80) %>
		</p>
		<p>
			Tags:<br />
			<%= text_field_tag("tags", :value => @post.tags) %>
		</p>
		<p>
			<%= submit_button("Save") %>
		</p>
	<%= end_form %>
</div>
