<div class="post">
	<div>
		<h2><%= h(post.title) %></h2>
		<div class="post_body">
			<% if show_complete %>
				<%= post.body %>	
			<% else %>
				<%= render_post_body(post, 100) %>
			<% end %>
		</div>
	</div>
	<%= partial(:comment, :locals => {:post => post }) %>
	<%= partial(:admin_post, :locals => {:post => post}) %>
</div>
