<div class="left-bar">
  <%= render_tags(@tags) %><br />
  <%= render_tumblr_posts(@tumblr_posts) %><br />
  <%= render_github_repos(@github_repos) %>
</div>
<div class="right-bar">
  <div>
    <div class="rss">
      Subscribe to the MPC blog rss feed 
      <%= link_to_rss_feed %>
    </div>
    <%= render_post_search %>
  </div>
  <div class="posts">
    <hr class="wide-rule" />
    <% if @searched %>
      <div class="search-results">
        <%= @error_message %>
        Your search for '<%= @query %>' resulted in <%= @posts.size %> result(s).
      </div>
    <% end %>
    <% if @posts && @posts.not_empty? %>
      <% for post in @posts %>
        <%= render_post(post, false) %>
        <hr class="wide-rule" />
      <% end %>
    <% else %>
      <p class="no_posts">
        <% unless @searched %>
          There are currently no posts.
        <% else %>
          Sorry, no posts found that match your search. Please try again.
        <% end %>
      </p>
    <% end %>
    <%= render_create_post %>
  </div>
</div>
<div style="clear:both"><%= render_paging(@posts, @tagged, @searched) %></div>