<div class="blog-header">
  <div class="rss">
    Subscribe to the MPC blog rss feed 
    <%= link_to_rss_feed %>
  </div>
  <%= render_post_search %>
  <div class="clear">&nbsp;</div>
</div>
<div class="left-bar">
  <div class="sidebar-content">
    <%= render_tags(@tags) %>
  </div>
  <div class="sidebar-content">
    <%= render_tumblr_posts(@tumblr_posts) %>
  </div> 
 <div class="sidebar-content">
  	<%= render_github_repos(@github_repos) %>
 </div>
</div>
<div class="right-bar">
  <div class="posts">
    <% if @searched %>
      <div class="search-results">
        <%= h(@error_message) %>
        Your search for '<%= @query %>' resulted in <%= @posts.total_items %> result(s).
      </div>
    <% end %>
    <% if @posts && @posts.not_empty? %>
      <% for post in @posts %>
        <%= render_post(post, false) %>
      <% end %>
    <% else %>
      <p class="no_posts">
        <% unless @searched %>
          There are currently no posts.
        <% else %>
          Sorry, no posts found that match your search. Please try again.
        <% end %>
      </p>
    <% end %>
    <%= render_create_post %>
  </div>
</div>
<div style="clear:both"><%= render_paging(@posts, @tagged, @searched) %></div>
<div style="display:none;" class="popup" id="comment_popup">
	<div class="top" id="popup_top">Add Comment</div>
	<div class="content">
		<p class="errors" id="comment_errors"></p>
		<p class="success" id="comment_success"></p>
		<p class="notice">
		  I promise that your email address will not be used or sold in any way
		</p>
		<%= hidden_field_tag("post_id") %>
		<p class="comment_field comment_field_with_margin float_left">
		  <span>Your name:</span><br />
		  <%= text_field_tag("username", :class => "select", :size => "20") %>
		</p>
		<p class="comment_field comment_field_with_margin float_left">
		  <span>Your website (optional):</span><br />
		  <%= text_field_tag("website", :size => "30") %>
		</p>
		<p class="comment_field">
		  <span>Your email (optional):</span><br />
		  <%= text_field_tag("email", :size => "30") %>
		</p>
		<div style="padding:0;margin:0;clear:left;"></div>
		<p class="comment_field">
		  <span>Your comment:</span><br />
		  <%= text_area_tag("comment", :rows => 8, :cols => 47) %>
		</p>
		<%= render_defensio %>
	</div>
	<div class="bottom">
		<%= submit_button("Save", :id => "submit_comment_button") %>
		<%= button_tag("Cancel", {:id => 'cancel_button'}) %>
	</div>
</div>