<div class="posts">
	<% if @posts && @posts.not_empty? %>
		<% if @tags && @tags.not_empty? %>
			<div class="tags">
				<h3>Tags</h3>
				<% for tag in @tags %>
					<%= random_tag(tag) %> &nbsp;
				<% end %>
			</div>
		<% end %>
		<% count = @posts.size %>
		<% for post in @posts %>
			<div class="post">
				<h2>
					<%= post.title %>
				</h2>
				<p class="post_date">Posted: <%= datetime(post.created_at) %></p>
				<div class="post_body">
					<%= render_post_body(post, 100) %>
				</div>
				<div class="post_comments">
					<h3>Comments</h3>
					<% unless post.comments.empty? %>
						<% for comment in post.comments %>
							<div class="comment">
								<p class="comment_date">Date: <%= datetime(comment.created_at) %></p>	
								<p>Posted by: <%= comment.username %></p>
								<p><%= comment.comment %></p>
							</div>
						<% end %>
					<% else %>
						<p class="comment">No comments have been posted.</p>
					<% end %>
					<p><%= link_to("Add Comment", "/new/comment/#{post.id}") %></p>
				</div>
				<% if logged_in? %>
					<p class="admin_link">
						<%= link_to("Edit", "/edit/post/#{post.id}") %> this post
						<%= start_form("/post/#{post.id}") %>
							<%= hidden_field_tag("_method", :value => "delete") %>
							<%= submit_button("Delete") %>
						<% end_form %>
					</p>
				<% end %>
			</div>
			<% count -= 1 %>
			<% unless count == 0 %>
				<hr />
			<% end %>
		<% end %>
	<% else %>
		<p class="no_posts">There are currently no posts.</p>
	<% end %>
	<% if logged_in? %>
	<p class="admin_link">
		<%= link_to("Create", "/post") %> a new post
	</p>
	<% end %>
</div>
