<div class="post">
	<div>
		<h2><%= link_to(h(post.title), "/blog/post/#{post.slug}") %></h2>
		<p>Posted on <%= datetime(post.created_at) %></p>
		<div class="post_body">
				<%= post.body %>	
		</div>
	</div>
	<%= partial(:comment, :locals => {:post => post }) %>
	<%= partial(:admin_post, :locals => {:post => post}) %>
	<div>
		Tags: <%= post.tags.split(" ").join(", ") %>
	</div>
</div>
