<h1>Projects</h1>
<hr />
<br />
<p>
  My passion is writing software and I look for opportunities for interesting side projects 
  in addition to day to day work. Software components that are written several times can be made somewhat generic 
  and broken out into reusable modules. In these cases, I like to create a project
  and make it available to the open source software development community.
</p>
<p>
  Listed below are some of my more recent projects.
</p>
<h3><%= link_to("Complainatron", "http://complainatron.ca", :target => "_blank")%></h3>
<p>
  Complainatron is a simple, free and anonymous site allowing anyone to complain about anything. Users
  can optionally supply their geographical information and the site will graph and map where the
  complaints come from. As well, it provides an RSS feed so that users can subscribe and read other
  peoples' complaints.
</p>
<h3><%= link_to("RDefensio", "http://github.com/mattapayne/rdefensio", :target => "_blank")%></h3>
<p>
  An open source framework agnostic Ruby library used to access the <%= link_to("Defensio", "http://defensio.com", :target => "_blank") %>
  API. Defensio is a spam filtering service that you can use to protect your blog or web application from comment spam. 
</p>
<h3><%= link_to("SlimTimerOnShoes", "http://github.com/mattapayne/slimtimeronshoes", :target => "_blank")%></h3>
<p>
  A small open source application, written using <%= link_to("Shoes", "http://shoooes.net", :target => "_blank") %>, that
  allows users to interact with <%= link_to("SlimTimer", "http://slimtimer.com", :target => "_blank") %>. 
  SlimTimer is a web application that allows the user to track time against tasks. It's a very
  useful tool for freelance developers.
</p>
<h3><%= link_to("Jambase4Rails", "http://github.com/mattapayne/jambase4rails", :target => "_blank") %></h3>
<p>
  An open source Ruby on Rails plugin that lets developers easily hook into
  the <%= link_to("Jambase", "http://www.jambase.com", :target => "_blank") %> (an online live concert archive) API.
</p>
<h3><%= link_to("Tumblr4Rails", "http://github.com/mattapayne/tumblr4rails", :target => "_blank") %></h3>
<p>
  An open source Ruby on Rails plugin that lets developers read and write to
  Tumblelogs using the <%= link_to("Tumblr", "http://tumblr.com", :target => "_blank") %> API.
</p>
