<div class="content">
	<h1>Services</h1>
	<p>
		M.P.C. offers a diverse range of services.
		<ul>
			<li>Development of web-based software solutions.</li>
			<li>Development of desktop-based software solutions</li>
			<li>Requirements analysis</li>
			<li>Data modelling</li>
			<li>Database development</li>
			<li>Software system audits</li>
			<li>Software architecture services</li>
		</ul>
	</p>
	<p>
		We offer a varied range of language expertise.
		<ul>
			<li><%= link_to(".NET (C#, VB.NET)", "http://www.microsoft.com/NET/", :target => "_blank") %></li>
			<li><%= link_to("Java", "http://java.sun.com", :target => "_blank") %></li>
			<li><%= link_to("Ruby", "http://www.ruby-lang.org/en", :target => "_blank") %> (<%= link_to("Ruby on Rails", "http://www.rubyonrails.org/", :target => "_blank") %>, <%= link_to("Merb", "http://merbivore.com", :target => "_blank") %>, <%= link_to("Sinatra", "http://sinatrarb.com", :target => "_blank") %>)</li>
			<li><%= link_to("Python", "http://www.python.org", :target => "_blank") %> (<%= link_to("Django", "http://www.djangoproject.com/", :target => "_blank") %>)</li>
		</ul>
	</p>
	<p>
		Rates are negotiable and based on project scope, complexity and timeframe.
		<br />
		<%= email_link_to("Contact me", "paynmatt@gmail.com") %> to discuss your project.
	</p>
</div>
