<h1>Services</h1>
<hr />
<br />
<div class="notice">
  <strong>What can I do for you?</strong><br />
  <em>Rates are negotiable and based on project scope, complexity and timeframe.
  <%= email_link_to("Contact me", "paynmatt@gmail.com") %> to discuss your project.</em>
</div>
<br />
<div>
  <strong>MPC offers a range of technology expertise:</strong>
  <ul>
    <li><%= link_to(".NET (C#, VB.NET)", "http://www.microsoft.com/NET/", :target => "_blank") %>
      <ul>
        <li>Legacy .NET code through to current framework versions.</li>
      </ul>
    </li>
    <li><%= link_to("Java", "http://java.sun.com", :target => "_blank") %>
      <ul>
        <li>Legacy Java code through to current Java versions.</li>
      </ul>
    </li>
    <li><%= link_to("Ruby", "http://www.ruby-lang.org/en", :target => "_blank") %> (<%= link_to("Ruby on Rails", "http://www.rubyonrails.org/", :target => "_blank") %>, <%= link_to("Merb", "http://merbivore.com", :target => "_blank") %>, <%= link_to("Sinatra", "http://sinatrarb.com", :target => "_blank") %>)</li>
    <li>Experience with most relational databases including MS SQL Server, Oracle, MySQL, SQLite and PostgreSQL</li> 
  </ul>
</div>
